<section class="clothes">
  <img src="/images/{{clothes.filename}}" alt="{{clothes.description}}">
  <div class="clothes-details">
    <h3>{{clothes.type}}</h3>
    <p>Brand: {{clothing.brand}}</p>
    <p>Purchase Date: {{ format_date clothes.date_purchased}}</p>
  </div>
</section>