<section class="container">
  <h3 class="username">{{user.username}}'s closet</h3>
  <h5>Current clothes:</h5>
  <section class="flex-row justify-center">
    {{#each user.clothes as |clothes|}}
    <section class="card">
    <a href="/clothes/{{clothes.id}}">
    <header>{{clothes.type}}</header>

    <div class="card-body">
      <img src="/images/{{clothes.filename}}" alt="{{clothes.description}}">
    </div>
    </a>
    </section>
    {{/each}}
  </section>
  <a href="/add"><button>Add new item!</button></a>
</section>

{{!-- <script src="./js/profile.js"></script> --}}